
$color-text-darker: #678
$color-text-dark: #89a
$color-text-default: #9ab
$color-link-default-hover: #40bcf4
$color-link-default: #fff

$bg-btn-gray: #567
$color-btn-gray: #c8d4e0
$bg-btn-gray-hover: #678
$shadow-btn-gray: inset 0 1px 0 hsla(0,0%,100%,.2)
$section-border: 1px solid #456

$color-tag-gray: #bcd

$accent-blue: #40bcf4
$bg-progress-dark: #303840
